[Desktop Entry]
Name=Element
Exec=/opt/Element/element-desktop --no-sandbox %U
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/element-desktop.png
StartupWMClass=Element
Comment=Element: the future of secure communication
MimeType=x-scheme-handler/io.element.desktop;x-scheme-handler/element;
Categories=Network;InstantMessaging;Chat;
