[Desktop Entry]
Version=1.0
Type=Application
Name=Tor Browser
Comment=Anonymous Web Browser
Exec=/usr/bin/torbrowser-launcher %u
Icon=/usr/share/pixmaps/torbrowser.png
Terminal=false
Categories=Network;WebBrowser;Security;
StartupNotify=true
