[Desktop Entry]
Version=1.0
Type=Application
Name=ZOTH Interactive FX Wallpaper
Comment=Interactive Three.js 3D Sacred Geometry, Matrix Rain & Datamosh Engine
Exec=zoth-live-wallpaper
Icon=/usr/share/icons/Zoth-Hermetic/scalable/apps/zoth-matrix.svg
Terminal=false
Categories=Graphics;Screensaver;AI;
StartupNotify=true
