[Desktop Entry]
Version=1.0
Type=Application
Name=Reality Switcher
Comment=Toggle Matrix / Ghost / Win11 Undercover
Exec=xfce4-terminal -T 'Reality Switcher' -e 'zoth-mode'
Icon=zoth-mode
Terminal=false
Categories=Settings;System;
Keywords=reality;switcher;matrix;ghost;win11;undercover;
MimeType=application/x-zoth-mode;
StartupNotify=true
