[Desktop Entry]
Version=1.0
Type=Application
Name=ZOTH Ghostmode
GenericName=nullai.tech Anti-Forensics
Comment=Torify, Cloak MAC, Scramble Hostname and Scrub Memory
Exec=xfce4-terminal -T "ZOTH Ghostmode Protocol" -e "sudo zoth-ghost start"
Icon=/usr/share/icons/hicolor/48x48/apps/zoth-ghost.png
Terminal=false
Categories=Security;Network;
StartupNotify=true
