/* src/components/ImageCarousel.css */
.carousel-container {
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
    
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  /* slick-carousel overrides */
  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slick-track {
    display: flex;
    align-items: center;
  }
  
  .slick-list {
    overflow: hidden;
  }
  