.sign-in-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    align-items: center;
    min-height: 50vh;
padding-bottom: 50px;
    background: url('../assets/bg.png');
    background-size: contain;
  }
  
  .sign-in-paper {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
  }
  