[Desktop Entry]
Version=1.0
Type=Application
Name=SimpleX Chat
Comment=Private decentralized messenger with no user identifiers
Exec=/usr/local/bin/simplex-desktop
Icon=/usr/share/pixmaps/simplex-desktop.png
Terminal=false
Categories=Network;InstantMessaging;Chat;
Keywords=chat;messaging;im;private;simplex;
StartupNotify=true
