.contact-page-container {
  width: 100%;
  overflow-x: hidden;
  background-color: black;
}

.contact-hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  padding: 40px 0;
  text-align: center;
}

.contact-hero-title {
  font-size: 3rem;
}

.contact-details-section {
  padding: 40px 0;
}

.contact-info, .contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.contact-info-paper, .contact-form-paper {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

.contact-logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.contact-icon {
  font-size: 2rem;
  margin: 0 10px;
}

.map-section {
  margin-top: 40px;
}

.map-container {
  height: 100%;
}


.building-front-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.contact-submit-button {
  margin-top: 20px;
}
