.media-page {
  background-color: #000;
    width: 100%;
  }
  
  .media-hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../assets/hero-bg3.png);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .media-hero-title {
    font-size: 4rem;
  }
  
  .media-section {
    background-color: #000;
    margin-bottom: 40px;
  }
  
  .media-section-title {
    margin-bottom: 20px;
  }
  
  .media-hero-logo {
    height: 100px;
  }

  .media-cta-button-container {
    background-color: #000;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
  }
  
  







