/* src/components/styles/CustomReviews.css */
.reviews-container {
    padding: 40px 20px;
    background: #000000;
  }
  
  .reviews-title {
    color: white;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .review-item-container {
  
    display: flex;
    justify-content: center;
  }
  
  .review-item {
    padding: 20px;
    background: #ffffff;
    transition: transform 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 100%;
  }
  
  .review-item:hover {
    transform: translateY(-10px);
  }
  
  .review-avatar {
    width: 60px;
    height: 60px;
  }
  
  .review-author {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .review-rating {
    color: #ff9800;
    margin-bottom: 5px;
  }
  
  .star-icon {
    color: #ff9800;
  }
  
  .review-text {
    margin-top: 10px;
    flex-grow: 1;
  }
  
  .review-response {
    margin-top: 10px;
    color: #757575;
  }
  
 
  
  .cta-button:hover {
    background-color: #357ae8;
  }
  