/* styles/InstagramFeed.css */
.instagram-feed {
    text-align: center;
    padding: 20px;
    border-radius: 15px;
  }
  
  .feed-title {
    margin-bottom: 20px;
    color: #ff0000;
   
  }
  
  .instagram-post {
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
  }
  
  .media-content {
    width: auto;
    height: 500px;
    object-fit: cover;
  }
  
  .slick-dots {
    bottom: 15px;
  }
  
  .slick-prev, .slick-next {
    z-index: 1;
  }
  
  .slick-prev::before, .slick-next::before {
    color: #ff0000;
  }
  