/* src/components/styles/Navbar.css */
.menu-item {
    border-radius: 8px;
    margin: 5px 0;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .menu-item:hover {
    background-color: rgba(211, 47, 47, 0.1) !important;
    transform: scale(1.02);
  }
  
  .menu-item-icon {
    color: #d32f2f !important;
    min-width: 40px; /* Ensure consistent spacing for icons */
  }
  
  .menu-item-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
  }
  
  .MuiDrawer-paperAnchorRight .MuiListItem-root {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
    transform: translateX(0);
    color: #000000; /* Ensure text color is black */
  }
  
  .MuiDrawer-paperAnchorRight.MuiDrawer-paperAnchorDockedRight {
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .MuiDrawer-paperAnchorRight.MuiDrawer-paperAnchorDockedRight .MuiListItem-root {
    opacity: 1;
    transform: translateX(0);
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  