/* styles/NewsTicker.css */
.news-ticker {
  width: 100%;
  overflow: hidden;
  background-color: #ff0000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}



.ticker-text {
margin: 0 auto;
 
 
}

@media (max-width: 768px) {

.ticker-text {
  font-size: 0.8rem !important;
}
}