.punch-card-container {
    display: flex;
    justify-content: center;
    
  }
  
  .punch-card {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f9f9f9;
    transition: transform 0.3s ease;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .punch-card:hover {
    transform: translateY(-10px);
  }
  
  .punch-card-logo {
    width: 140px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .punch-card-title {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .punch-card-details {
    margin-top: 10px;
    color: #757575;
    text-align: center;
  }
  
  .punch-card-slot {
    width: 30px;
    height: 30px;
    border: 2px dashed #000;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .punch-card-avatar {
    width: 20px !important;
    height: 20px !important;
    background: #d32f2f !important;
  }
  

  @media (max-width: 768px ) {
    .punch-card {
      width: 90vw;

    }
  }