.weekly-schedule {
  display: flex;
  height: auto;
  background-color: #f5f5f5;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  background-color: #3f51b5;
  padding: 20px;
}

.weekly-logo {
  width: 100px;
  margin-bottom: 20px;
}

.vertical-tabs {
  width: 100%;
}

.day-tab {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.weekly-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #3f51b5, #f5f5f5);
  padding: 20px;
}

.parallax-container {
  width: 80%;
}

.schedule-card {
 
 width: auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.schedule-day {
  text-align: center;
  margin-bottom: 20px;
  color: #3f51b5;
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.schedule-chip {
  background-color: #3f51b5 !important;
  color: #ffffff;
  cursor: pointer;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 20px;
  border-radius: 8px;
}

.modal-title {
  margin-bottom: 20px;
  color: #3f51b5;
}

.modal-description {
  color: #333;
}


@media (max-width: 768px) {
  .schedule-card {
 
    width: 200px;
  }
}