[Desktop Entry]
Version=1.0
Type=Application
Name=Burp Suite Community
GenericName=Web Vulnerability Scanner & Proxy
Comment=Industry Standard Web Application Security Testing Platform
Exec=burpsuite %U
Icon=burpsuite
Terminal=false
Categories=Security;Development;Network;
Keywords=Burp;BurpSuite;Proxy;Security;Web;Vulnerability;
StartupNotify=true
