[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox
Comment=Browse the World Wide Web
Exec=/usr/bin/firefox-esr %u
Icon=/usr/share/pixmaps/firefox.png
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
