[Desktop Entry]
Version=1.0
Type=Application
Name=Obsidian PKM
Comment=Second-Brain Markdown Knowledge Graph & Notes
Exec=obsidian
Icon=obsidian
Terminal=false
Categories=Office;Development;Utility;
StartupNotify=true
