[Desktop Entry]
Version=1.0
Type=Application
Name=Web3 & Solana Core
Comment=Solana Blockchain CLI & Foundry EVM Smart Contract Deck
Exec=xfce4-terminal -T "Web3 Sovereign Engineering" --geometry=110x35 -e "zoth-tool-nexus --domain 7"
Icon=solana
Terminal=false
Categories=Development;Security;
StartupNotify=true
