[Desktop Entry]
Version=1.0
Type=Application
Name=Reality Switcher
Comment=Toggle Matrix / Ghost / Win11 Undercover
Exec=xfce4-terminal -T "Reality Switcher" --geometry=95x28 -e "zoth-mode"
Icon=zoth-mode
Terminal=false
Categories=Settings;System;
StartupNotify=true
