[Desktop Entry]
Version=1.0
Type=Application
Name=Undercover
Comment=Disguise Mode, Identity Mask & Win11 Undercover Theme
Exec=/usr/local/bin/zoth-undercover
Icon=/usr/share/pixmaps/zoth-undercover.png
Terminal=false
Categories=Settings;System;Security;
Keywords=undercover;disguise;mask;identity;win11;theme;stealth;
MimeType=application/x-zoth-undercover;
StartupNotify=true
