[Desktop Entry]
Version=1.0
Type=Application
Name=Animated BG
Comment=Cyber Film Strip & Datamosh Visualizer Engine
Exec=/usr/local/bin/zoth-animated-bg
Icon=/usr/share/pixmaps/zoth-animated-bg.png
Terminal=false
Categories=Graphics;Utility;
Keywords=animated;background;film;datamosh;cyber;visualizer;wallpaper;
MimeType=application/x-zoth-animated-bg;
StartupNotify=true
