[Desktop Entry]
Version=1.0
Type=Application
Name=QuickLock
Comment=Panic Lock & Instant Screen Freeze
Exec=/usr/local/bin/zoth-quicklock
Icon=/usr/share/pixmaps/zoth-quicklock.png
Terminal=false
Categories=System;Security;
Keywords=quicklock;panic;lock;freeze;screen;security;emergency;
MimeType=application/x-zoth-quicklock;
StartupNotify=true
