[Desktop Entry]
Version=1.0
Type=Application
Name=ZOTHOS Sec Arsenal
Comment=Kali & Parrot Pentesting Toolchain
Exec=xfce4-terminal -T "ZOTHOS Security Arsenal" --geometry=110x32 -e "zoth-sec"
Icon=zoth-sec
Terminal=false
Categories=Security;System;
StartupNotify=true
