[Desktop Entry]
Version=1.0
Type=Application
Name=NullAI Ghostmode
Comment=Tor Route, Amnesic RAM & Anti-Forensics Mode
Exec=xfce4-terminal -T "NullAI Ghostmode Operations" --geometry=100x30 -e "zoth-ghost"
Icon=zoth-ghost
Terminal=false
Categories=Security;System;
StartupNotify=true
