[Desktop Entry]
Version=1.0
Type=Application
Name=ZOTHOS Sec Arsenal
Comment=Kali & Parrot Pentesting Toolchain
Exec=konsole -p tabtitle='Security Arsenal' -e 'zoth-sec'
Icon=/usr/share/pixmaps/zoth-sec.png
Terminal=false
Categories=Security;System;
Keywords=security;pentest;kali;parrot;arsenal;toolchain;
MimeType=application/x-zoth-sec;
StartupNotify=true
