[Desktop Entry]
Version=1.0
Type=Application
Name=ZOTH Security Arsenal
GenericName=Kali & Parrot Unified Arsenal
Comment=Penetration Testing, Wireless, Reverse Engineering & Exploits
Exec=xfce4-terminal -T "ZOTH Security Arsenal" -e zoth-sec
Icon=/usr/share/icons/hicolor/48x48/apps/zoth-sec.png
Terminal=false
Categories=Security;System;
StartupNotify=true
