[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth AppImages
Comment=Curated Standalone Tools & Desktop Installer
Exec=konsole -p tabtitle="ZOTH APPIMAGES" -e "bash -c 'zoth appimage list; echo \"\"; echo \"Run: zoth appimage install <app_id> (e.g. zoth appimage install obsidian)\"; exec bash'"
Icon=/usr/share/pixmaps/start-here.png
Terminal=false
Categories=Application;Development;System;
StartupNotify=true
