@import url("/usr/share/themes/Zoth-Hermetic-Matrix/gtk-3.0/gtk.css");

window.csd headerbar {
    padding: 0;
    min-height: 24px;
}

window.csd headerbar button {
    min-height: 18px;
    min-width: 18px;
    padding: 2px;
}
