[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=ZOTHOS Wallpaper Engine
Comment=Set root desktop wallpaper on login
Exec=feh --bg-fill /usr/share/backgrounds/zothos/hermetic-matrix.png
Terminal=false
Hidden=false
X-XFCE-Autostart-Override=true
