[Desktop Entry]
Version=1.0
Type=Application
Name=ZOTHOS 3D Spatial OS
Comment=Launch 3D Spatial OS Environment on session start
Exec=/usr/local/bin/zoth-3d-os
Terminal=false
StartupNotify=false
OnlyShowIn=XFCE;
